.game {
    display: flex;
    flex-direction: row;
  }
  .gameinfo {
    margin-left: 20px;
  }
  .stats {
    font-size: 30px;
  }
  .winneralert {
    font-size: 50px;
  }
  .square {
    background: #fff;
    border: 1px solid #999;
    float: left;
    font-size: 100px;
    font-weight: bold;
    line-height: 34px;
    height: 134px;
    margin-right: -1px;
    margin-top: -1px;
    padding: 0;
    text-align: center;
    width: 134px;
    transition-duration: 0.4s;
  }
  
  .square:hover {
    background-color: #999;
  }
  
  .square:focus {
    outline: none;
  }
  
  .kbd-navigation .square:focus {
    background: #ddd;
  }
  .boardRowTic {
    display: flex;
  }
  
  .boardRowTic:after {
    clear: both;
    content: "";
    display: table;
  }
  